
@media only screen and (max-width: 1151px){
    .page-header-text{
        font-size: 400%;
    }
}

@media only screen and (max-width: 992px) {

    #mainLogo {
        width: 100%;
    }

    .navbar {
        font-size: 2em;
        padding: 3%;
    }

    .nav-title {
        display: none;
    }

    .page-header-text {
        font-size: 600%;
    }

    .page-header {
        margin-top: 7%;
    }

    .storitve-nav {
        font-size: 3em;
    }

    .storitve-card {
        font-size: 2em;
    }

    .storitve-row {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
    }

    .storitve-items {
        display: flex;
        display: -webkit-flex;
        flex: 1;
    }

    .produkti-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }

    .produkti-box-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }

    .upper-tab {
        font-size: 2em;
    }

    .bottom-tab {
        font-size: 1.9em;
    }

    .sub-option {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        font-size: 1.8em;
    }

    .option {
        font-size: 1.8em;
    }

    .option-wrapper {
        width: 90%;
    }

    .option-big {
        font-size: 2em;
    }

    .right-image-holder {
        display: -webkit-flex;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        background-position: center;
    }

    .right-image {
        display: -webkit-flex;
        display: flex;
        max-height: 50%;
    }

    .produkt-image {
        flex-direction: column;
        align-items: center;
    }

    .produkt-image img {
        max-height: 50%;
    }

    .produkt-text {
        font-size: 1.8em;
        max-height: 70%;
        overflow: scroll;
    }

    .brand-box-row {
        display: flex;
        display: -webkit-flex;
        flex: 1;
        justify-content: center;
    }

    .location-flex-holder {
        display: block;
    }

    .location-holder {
        display: block;
        padding-top: 8vh;
    }

    .location-text-box {
        font-size: 2em;
    }

    .left-text {
        font-size: 1.6em;
        overflow: scroll;
    }
    .map-flex-holder{
        display: block;
    }
    #map{
        height: 40vh;
    }
}
